<div class="slideshow-section home-section" data-section-id="{{ section.id }}">
  <div class="slideshow">

    <div class="slide slide-1">
      <div class="slide-info split">
        <div class="split-6 text-right">
          <div class="slide-caption">
            <h4>Featured design</h4>
            <div class="slide-caption-product-title">
              <img src="{{ site.assets | append: '/kingdomcases/banners/we-will-flourish-title.png'}}" />
            </div>
            <a class="button" href="/">Buy now</a>
          </div>
        </div>
        <div class="split-6">
          <img class="slide-image" src="{{ site.assets | append: '/kingdomcases/banners/we-will-flourish-shadow.png'}}" />
        </div>
      </div>
      <img class="slide-background" src="{{ site.assets | append: '/kingdomcases/banners/we-will-flourish-banner-bg.png'}}" />
    </div>

  </div>
</div>